
body{
    background: #8d8c89;
}
main {
    text-align: center;
    
}
#slogan {
 font-size: 25px;
}
.capa{
    width: 70%;
    height: 100%;
}
.beneficios {
    background-color: #b1b1ad;
    display: inline-block;
}
ul{
    display: inline-block;
    vertical-align: top;

}
li{
    padding: 10%;
}

.foto-beneficios {
    width: 40%;
    text-align: right;
    padding: 10%;
}